{% extends "Layouts/layout.html.twig" %}

{% block content %}
    <div class="container">
        <select onchange="if (this.value) window.location.href= '{{ path('root') }}release-notes/' + this.value;"
                style="margin-bottom:1.5em;">
            <option value="">-- SELECT VERSION --</option>
            {% for version,entry in result %}
                <optgroup label="{{ version }}">
                    {% for note in entry %}
                        <option value="{{ version }}/{{ note }}">{{ note }}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
        {{ current|raw }}
    </div>
{% endblock %}