{% extends "layout.html.twig" %}

{% block content %}
    <div class="container-fluid b_keyvisual">
        <img src="{{ path('root') }}assets/Gett3o/Assets/keyvisual_image.png" alt="" class="b_keyvisual__image">
        <div class="b_keyvisual__info">
            <h1>Get TYPO3</h1>
            <h3><a href="#download">Download</a> or <a href="#try-online">try</a> TYPO3 now!</h3>
        </div>
    </div>

    <a name="download"></a>
    <div class="container-fluid b_container">
        <div class="container b_container__release">
            <h2 class="b_headline">Choose a version</h2>
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">TYPO3 v8 LTS</h4>
                        <p class="card-text">The current stable LTS release (for all new projects)
                            The latest version with Long Term Support (LTS). It will have full support until October
                            2018 and security bugfixes until March 2020.
                        </p>
                        <ul>
                            <li>Migration to Doctrine DBAL</li>
                            <li>Improved image cropping</li>
                            <li>New rich text editor</li>
                        </ul>
                        <h5>System requirements</h5>
                        <ul>
                            <li>PHP 7</li>
                            <li>MySQL 5.5</li>
                            <li>Internet Explorer 11 and later</li>
                        </ul>
                    </div>
                    <div class="card-footer border-top-0">
                        <a href="{{ path('version', {'version': 8}) }}" class="btn btn-primary btn-block b_btn--version">Get version 8 LTS</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">TYPO3 v7 LTS</h4>
                        <p class="card-text">The old stable LTS release (for existing projects)
                           The old version with Long Term Support (LTS). It will have maintenance and security-related
                           bugfixes until October 2018.
                        </p>
                        <ul>
                            <li>Revamped TYPO3 backend</li>
                            <li>Better performance and stability</li>
                            <li>Improved media handling</li>
                        </ul>
                        <h5>System requirements</h5>
                        <ul>
                            <li>PHP 5.5</li>
                            <li>MySQL 5.5 up to 5.7</li>
                            <li>Internet Explorer 9 and later</li>
                        </ul>
                    </div>
                    <div class="card-footer border-top-0">
                        <a href="{{ path('version', {'version': 7}) }}" class="btn btn-primary btn-block b_btn--version">Get version 7 LTS</a>
                    </div>
                </div>
                <div class="card text-white bg-dark">
                    <div class="card-body">
                        <h4 class="card-title text-white">The upcoming LTS 9 release</h4>
                        <p class="card-text">is scheduled for fall 2018.</p>
                        <p class="card-text">Once released, it will get 3 years of important and security fixes from the day of the release.</p>
                        <p class="card-text">Until the final release several sprint releases will be published. Adopters are encouraged to use each of those release on the way to TYPO3 v9 LTS.</p>
                        <p class="card-text">Stay tuned for more information on our <a href="https://typo3.org/typo3-cms/roadmap/">roadmap.</a></p>
                    </div>
                    <div class="card-footer border-top-0">
                        <a href="{{ path('version', {'version': 9}) }}" class="btn btn-primary btn-block b_btn--version">Get version 9.0 (sprint release)</a>
                    </div>
                </div>
            </div>

            <div class="pt-4">
                <h4>Older versions</h4>
                <p>6.2 LTS and everything below is no longer supported by the TYPO3 Core Team, consider upgrading
                    or extending support by <a href="https://typo3.com/services/extended-support/">TYPO3 GmbH</a>.
                </p>
            </div>
        </div>
    </div>

    <a name="try-online"></a>
    <div class="container-fluid b_container b_container--grey">
        <div class="container">
            <div class="col-md-7 b_text__col">
                <h2>Try it online</h2>
                <p>Install a complete Apache / MySQL / PHP environment with a TYPO3 package remotely as a SAAS / cloud
                    based infrastructures to get started as quick as possible.</p>
            </div>
            <div class="container">
                <div class="card-deck">
                    <div class="card card-padding">
                        <img class="b_try__image card-img-top" src="{{ path('root') }}assets/Gett3o/Assets/bitnami.png" alt="Bitnami">
                        <div class="card-body">
                            <p class="card-text">
                                Bitnami TYPO3 Stack provides a one-click install solution for TYPO3. Download installers and
                                virtual machines or run your own TYPO3 server in the cloud.
                            </p>
                        </div>
                        <div class="card-footer border-top-0">
                            <a href="https://bitnami.com/stack/typo3" class="btn btn-primary btn-block b_btn--version">Go to Bitnami</a>
                        </div>
                    </div>
                    <div class="card card-padding">
                        <img class="b_try__image card-img-top" src="{{ path('root') }}assets/Gett3o/Assets/aws.png" alt="AWS">
                        <div class="card-body">
                            <p class="card-text">Debian GNU/Linux based machine images are available on Amazon Web Services (AWS). A „root“
                                login via SSH and an administrator account to the backend allow unrestricted access to the server and
                                TYPO3. TYPO3 v7, v8 and 9.x sprint releases are available.
                            </p>
                        </div>
                        <div class="card-footer border-top-0">
                            <a href="https://aws.amazon.com/marketplace/seller-profile/?id=3c5e5f3c-d60e-4405-a9ca-aae8abfa3e2b" class="btn btn-primary btn-block b_btn--version">Go to AWS</a>
                        </div>
                    </div>
                    <div class="card card-padding">
                        <img class="b_try__image card-img-top" src="{{ path('root') }}assets/Gett3o/Assets/platform.png" alt="platform.sh">
                        <div class="card-body">
                            <p class="card-text">Test and Install TYPO3 CMS V8 on Platform.sh. You can find the Platform file on Github.</p>
                        </div>
                        <div class="card-footer border-top-0">
                            <a href="https://accounts.platform.sh/platform/trial/typo3/setup" class="btn btn-primary btn-block b_btn--version">Go to platform.sh</a>
                        </div>
                    </div>
                </div>
                <div class="pt-4">
                    <h5>JSON Release files</h5>
                    <p>In case you want to build your own API to download certain versions of TYPO3, feel free to use our <a href="https://get.typo3.org/json">JSON releases file</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
