{% extends 'layout.html.twig' %}
{% block title %}Composer Helper{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/JavaScript/composerHelper.js') }}"></script>
{% endblock %}
{% block body %}

    {% frame with { color: 'dark', height: 'small', center: true, backgroundImage: asset("assets/Images/keyvisual.png") } %}
        <h1>Composer Helper</h1>
    {% endframe %}

    {% frame with { id: 'notice-out-of-order' } %}
        <div class="alert alert-danger">
            <h2 class="h4 alert-heading">Out of service</h2>
            <p>
                Please note, the Composer Helper is currenty out of service. We are working on a solution but this needs
                some more time to investigate. See also the <a href="https://github.com/TYPO3/get.typo3.org/issues/212" target="_blank" rel="noopener">issue at GitHub</a>.
            </p>
        </div>
    {% endframe %}

    {% frame with { color: 'light' } %}
        <h2>Select the composer packages</h2>
        <div class="js-composer-helper-console d-none">
            <pre class="text-wrap bg-console"><div class="no-user-selection"># paste this into your console</div><code class="js-composer-command"><span class="no-user-selection">$ </span>composer require <span class="js-composer-helper-packages"></span></code></pre>
            <button class="btn btn-dark m-0 js-command-copy-clipboard">copy to clipboard</button>
        </div>
    {% endframe %}

    {% frame with { id: 'packages' } %}
        {{ form_start(form, {'action': path('ajax-composer-helper-generate'), 'attr': {'id': 'js-composer-helper-form', class: 'composer-helper-form'}}) }}
        <div class="mb-5">
            {% for bundleName,bundle in bundles %}
                <button class="btn btn-primary js-composer-helper-toggle-packages" data-packages="{{ bundle }}">{{ bundleName }}</button>
            {% endfor %}
            <button class="btn btn-light js-composer-helper-toggle-packages" data-packages="[]">Reset</button>
        </div>
        {{ form_end(form) }}
    {% endframe %}

{% endblock %}
