{% extends "layout.html.twig" %}
{% block title %}Download TYPO3 {{ current.version }}{% endblock %}
{% block content %}

    {% include 'default/partials/key-visual.html.twig' with {'title': title ~ ' (' ~ current.version ~ ')', 'subtitle': subtitle, 'small': '1'} %}

    <div class="frame frame-small frame-default frame-background-light frame-no-backgroundimage frame-space-before-none frame-space-after-none">
        <div class="frame-container">
            <div class="frame-inner">
                <form action="">
                    <div class="row">
                        <div class="col-sm-auto">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">{{ title }}</span>
                                </div>
                                <select class="form-control custom-select"
                                    onchange="if (this.value) window.location.href= '{{ path('root') }}version/' + this.value;">
                                    <option>Choose a different version</option>
                                    <option value="10">TYPO3 v10</option>
                                    <option value="9">TYPO3 v9</option>
                                    <option value="8">TYPO3 v8</option>
                                    <option value="7">TYPO3 v7</option>
                                    <option value="6.2">TYPO3 v6.2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-auto mt-2 mt-sm-0">
                            <a href="{{ path('list', {'version': version}) }}" class="btn btn-primary">All v{{ version }} Releases</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% include 'default/partials/download-area.html.twig' %}
    {% include 'default/partials/system-requirements.html.twig' with {'systemRequirements': requirements }%}
    {% include 'default/partials/package-signatures.html.twig' %}

{% endblock %}
