{% extends 'layout.html.twig' %}
{% block title %}List of Releases for TYPO3 v{{ currentVersion.version }}{% endblock %}
{% block body %}

    {% frame with { color: 'dark', height: 'small', center: true, backgroundImage: asset("assets/Images/keyvisual.png") } %}
        <h1>{{ currentVersion.title }}</h1>
        <p class="lead">{{ currentVersion.subtitle }}</p>
    {% endframe %}

    {% frame with { color: 'light', size: 'small' } %}
        <form action="">
            <div class="row">
                <div class="col-sm-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">{{ currentVersion.title }}</span>
                        </div>
                        <select class="form-control custom-select"
                            onchange="if (this.value) window.location.href= '{{ path('root') }}list/version/' + this.value;">
                            <option>Choose a different version</option>
                            {% for activeVersion in activeVersions %}
                            <option value="{{ activeVersion.version }}">{{ activeVersion.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </form>
    {% endframe %}

    {% frame with { id: 'releases-list', title: "List of Releases for #{ currentVersion.title }" } %}
        <div class="card">
            <div class="datatable">
                <table class="datatable-table">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Date</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for release in currentVersion.releases|sortByVersion %}
                            {% if release.type == "security" %}
                                <tr class="datatable-severity-danger">
                            {% else %}
                                <tr>
                            {% endif %}
                                <th data-type="title">{{ release.version }} {% if release.elts %}ELTS{% endif %}</th>
                                <td>{{ release.date | date("d.m.Y") }}</td>
                                <td>{{ release.type }}</td>
                                <td data-type="actions">
                                    <a class="datatable-action" title="Release Notes" href="{{ path('release-notes-for-version', {'version': release.version}) }}">
                                        <span class="datatable-action-label">Release Notes</span>
                                    </a>
                                    {% if release.elts %}
                                        <a class="datatable-action" title="Buy ELTS" href="https://typo3.com/elts">
                                            <span class="datatable-action-label">Buy ELTS</span>
                                        </a>
                                    {% else %}
                                        <a class="datatable-action" title="Download" href="{{ path('version', {'version': release.version}) }}">
                                            <span class="datatable-action-label">Download</span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endframe %}

{% endblock %}
