{% extends 'layout.html.twig' %}
{% block title %}Download TYPO3{% endblock %}
{% block body %}

    {% frame with { color: 'dark', height: 'small', center: true, backgroundImage: asset("assets/Images/keyvisual.png") } %}
        <h1>Build Blazingly&nbsp;Fast, Flexible&nbsp;Websites</h1>
        <p class="lead">
            {% if communityVersions|length > 0 %}<a href="#download" class="btn btn-lg btn-primary">Download TYPO3</a>{% endif %}
            <a href="#try-online" class="btn btn-lg btn-light">Try TYPO3</a>
        </p>
    {% endframe %}

    {% if communityVersions|length > 0 %}
        {% frame with { id: 'download', center: true, title: 'Current Versions', titleSize: 3 } %}
        {% endframe %}
        {% frame %}
            <div class="card-group-element card-group-element-align-left card-group-element-columns-{{ communityVersions|length }}">
                {% for version in communityVersions %}
                <div class="card-group-element-item">
                    <div id="download-community-{{ loop.index }}" class="card{% if loop.first %} card-inverse{% endif %}">
                        <div class="card-body">
                            <h4 class="card-title">{{ version.title }}</h4>
                            {% if version.version == 11 %}
                                <p><strong>TYPO3 v11 LTS is scheduled to be released in October 2021.</strong></p>
                                <p>Updates and security fixes will be provided for three years starting from the release date.
                                    We encourage users and agencies to install and use the v11 sprint releases until the LTS release is available.
                                    Further details about the releases and release dates are available in the
                                    <a href="https://typo3.org/cms/roadmap/">roadmap</a>.</p>
                            {% else %}
                                <p>{{ version.description }}</p>
                            {% endif %}

                            {% if version.version == 8 %}
                                <ul class="list-check">
                                    <li>Migration to Doctrine DBAL</li>
                                    <li>Improved image cropping</li>
                                    <li>New rich text editor</li>
                                </ul>
                            {% elseif version.version == 9 %}
                                <ul class="list-check">
                                    <li>Native URL Routing</li>
                                    <li>SEO out of the box</li>
                                    <li>Easier and faster site building</li>
                                </ul>
                            {% elseif version.version == 10 %}
                                <ul class="list-check">
                                    <li>Dashboard for editors</li>
                                    <li>Additional security features for editors and website users</li>
                                    <li>Improved Site setup and URL handling</li>
                                </ul>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <h5>System requirements</h3>
                            <ul class="list-info">
                                {% if version.version == 11 %}
                                    <li>PHP 7.4</li>
                                    <li>MySQL 5.7+ / MariaDB / Postgres / SQLite support</li>
                                    <li>Modern Browsers</li>
                                {% elseif version.version == 10 %}
                                    <li>PHP 7.2, 7.3 or 7.4</li>
                                    <li>MySQL 5.5+ / MariaDB / Postgres / SQLite support</li>
                                    <li>Modern Browsers</li>
                                {% elseif version.version == 9 %}
                                    <li>PHP 7.2, 7.3 or 7.4</li>
                                    <li>MySQL 5.5+ / MariaDB / Postgres / SQLite support</li>
                                    <li>Internet Explorer 11 and later</li>
                                {% elseif version.version == 8 %}
                                    <li>PHP 7.x</li>
                                    <li>MySQL 5.5+ / MariaDB / Postgres support</li>
                                    <li>Internet Explorer 11 and later</li>
                                {% endif %}
                            </ul>
                            <hr>
                            {% if version.maintainedUntil %}
                            <h5>Supported Until</h5>
                            <ul class="list-unstyled">
                                <li>Free: <strong>{{ version.maintainedUntil|date("Y-m-d") }}</strong></li>
                                <li>ELTS: <strong>{{ version.eltsUntil|date("Y-m-d") }}</strong></li>
                            </ul>
                            <hr>
                            {% endif %}
                            <h5>Current Version</h5>
                            {% if version.latestRelease %}
                                <ul class="list-unstyled">
                                    <li>Version: <strong>{{ version.latestRelease.version }}</strong></li>
                                    <li>Release Date: <strong>{{ version.latestRelease.date|date("Y-m-d") }}</strong></li>
                                </ul>
                                {% set btnClass = 'light' %}
                                {% if version.version == 10 %}
                                    {% set btnClass = 'primary' %}
                                {% endif %}
                                <a href="{{ path('version', {'version': version.version}) }}"
                                    class="btn btn-{{ btnClass }}">Get version {{ version.version }}</a>
                            {% else %}
                                <p>No version available.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endframe %}
    {% endif %}

    {% if eltsVersions|length > 0 %}
        {% frame with { id: 'download-elts', rulerBefore: true, center: true, title: 'Past Versions with Extended Long&nbsp;Term&nbsp;Support', titleSize: 3 } %}
            <p>With TYPO3 CMS, you made the right choice. Now benefit from a total of 6 years of support per version.</p>
            <p>3 years of free support by the TYPO3 core team and the community.<br>3 further years of vendor support with ELTS by TYPO3 GmbH.</p>
        {% endframe %}
        {% frame %}
            <div class="card-group-element card-group-element-align-left card-group-element-columns-{{ eltsVersions|length + 1 }}">
                <div class="card-group-element-item">
                    <a href="https://elts.typo3.com"><img src="{{ asset("assets/Images/elts.svg") }}" class="img-fluid" width="200" style="display: block; margin: 0 auto;" /></a>
                </div>
                {% for version in eltsVersions %}
                <div class="card-group-element-item">
                    <div id="download-elts-{{ loop.index }}" class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{ version.title }}</h4>
                        </div>
                        <div class="card-footer">
                            {% if version.maintainedUntil %}
                            <h5>Supported Until</h5>
                            <ul class="list-unstyled">
                                <li>Free: <strong>{{ version.maintainedUntil|date("Y-m-d") }}</strong></li>
                                <li>ELTS: <strong>{{ version.eltsUntil|date("Y-m-d") }}</strong></li>
                            </ul>
                            <hr>
                            {% endif %}
                            <h5>Current Version</h5>
                            {% if version.latestRelease %}
                                <ul class="list-unstyled">
                                    <li>Version: <strong>{{ version.latestRelease.version }}{% if version.latestRelease.elts %} ELTS{% endif %}</strong></li>
                                    <li>Release Date: <strong>{{ version.latestRelease.date|date("Y-m-d") }}</strong></li>
                                </ul>
                                <a href="https://typo3.com/elts" class="btn btn-primary">Buy ELTS {{ version.version }}</a>
                                <a href="{{ path('version', {'version': version.version}) }}" class="btn btn-light">
                                    {% if version.latestRelease.elts %}See ELTS{% else %}Get version{% endif %}
                                    {{ version.version }}
                                </a>
                            {% else %}
                                <p>No version available.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endframe %}
        {% frame with { indent: true, center: true } %}
            <p><strong>Extended Long Term Support prolongs security and compliance support for your expired LTS version,
                and keeps you legally compliant and up-to-date. ELTS support runs for a total of 3 years per version,
                starting seamlessly on the day official community support for a given LTS version ends.</strong></p>
        {% endframe %}
    {% endif %}

    {% frame with { id: 'try-online', color: 'light', indent: true, center: true, title: 'Try it online', titleSize: 3 } %}
        <p>
            Install a complete Apache / MySQL / PHP environment with a TYPO3 package remotely as a SAAS / cloud
            based infrastructures to get started as quick as possible.
        </p>
    {% endframe %}
    {% frame with { color: 'light' } %}
        <div class="card-group-element card-group-element-align-left card-group-element-columns-3">
            <div class="card-group-element-item">
                <div class="card">
                    <div class="card-img-top">
                        <img src="{{ asset('assets/Images/try/bitnami.png') }}" alt="Bitnami">
                    </div>
                    <div class="card-body">
                        <p>Bitnami TYPO3 Stack provides a one-click install solution for TYPO3. Download installers
                            and virtual machines or run your own TYPO3 server in the cloud.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://bitnami.com/stack/typo3" class="btn btn-primary">
                            <span class="btn-text">Go to Bitnami</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-group-element-item">
                <div class="card">
                    <div class="card-img-top">
                        <img src="{{ asset('assets/Images/try/aws.png') }}" alt="AWS">
                    </div>
                    <div class="card-body">
                        <p>Ready-to-use machine images with TYPO3 pre-installed and pre-configured.
                            A &quot;root&quot; login via SSH and an administrator account to the TYPO3 backend allow
                            unrestricted access to the server and TYPO3. All current TYPO3 LTS-releases as well as
                            v11 sprint releases are available.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://aws.amazon.com/marketplace/seller-profile/?id=3c5e5f3c-d60e-4405-a9ca-aae8abfa3e2b" class="btn btn-primary">
                            <span class="btn-text">Go to AWS Marketplace</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-group-element-item">
                <div class="card">
                    <div class="card-img-top">
                        <img src="{{ asset('assets/Images/try/platform.png') }}" alt="platform.sh">
                    </div>
                    <div class="card-body">
                        <p>Try out TYPO3 LTS on platform.sh with one click.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://platform.sh/marketplace/typo3/" class="btn btn-primary">
                            <span class="btn-text">Go to platform.sh</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endframe %}

{% endblock %}
