{% extends "layout.html.twig" %}
{% block title %}Download TYPO3{% endblock %}
{% block content %}

<div id="carousel-visual" class="carousel carousel-small carousel-fade slide pointer-event" data-interval="20000" data-wrap="true" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active carousel-item carousel-item-type carousel-item-type-text" data-itemno="0" style="background-color: #313131;">
            <div class="carousel-backgroundimage-container">
                <div id="carousel-backgroundimage-visual" class="carousel-backgroundimage carousel-backgroundimage-fade">
                    <style>#carousel-backgroundimage-visual { background-image: url('{{ asset("assets/Images/keyvisual.png") }}'); }</style>
                </div>
            </div>
            <div class="carousel-content">
                <div class="valign" style="color: #FFFFFF;">
                    <div class="vcontainer">
                        <div class="carousel-text-inner">
                            <div class="carousel-item-bodytext">
                                <h1 class="carousel-item-header none text-center">Build Blazingly&nbsp;Fast, Flexible&nbsp;Websites</h1>
                                <p class="mt-4 lead text-center">
                                    <a href="#download" class="btn btn-lg btn-primary">Download TYPO3</a>
                                    <a href="#try-online" class="btn btn-lg btn-default">Try TYPO3</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="download" class="frame frame-default frame-background-none frame-no-backgroundimage frame-space-before-none frame-space-after-none">
    <div class="frame-container">
        <div class="frame-inner">
            <h3 class="mb-3 text-center">Current Versions</h3>
            <div class="card-group-element card-group-element-align-left card-group-element-columns-{{ communityVersions|length }}">
                {% for version in communityVersions %}
                <div class="card-group-element-item">
                    <div class="card{% if loop.first %} card-inverse{% endif %}">
                        <div class="card-body">
                            <h4 class="card-title">{{ version.title }}</h4>
                            {% if version.version == 10 %}
                                <p><strong>TYPO3 v10 LTS is scheduled to be released in April 2020.</strong></p>
                                <p>Updates and security fixes will be provided for three years starting from the release date.
                                    We encourage users and agencies to install and use the v10 sprint releases until the LTS release is available.
                                    Further details about the releases and release dates are available in the
                                    <a href="https://typo3.org/typo3-cms/roadmap/">roadmap</a>.</p>
                            {% else %}
                                <p>{{ version.description }}</p>
                            {% endif %}

                            {% if version.version == 8 %}
                                <ul class="list-check">
                                    <li>Migration to Doctrine DBAL</li>
                                    <li>Improved image cropping</li>
                                    <li>New rich text editor</li>
                                </ul>
                            {% elseif version.version == 9 %}
                                <ul class="list-check">
                                    <li>Native URL Routing</li>
                                    <li>SEO out of the box</li>
                                    <li>Easier and faster site building</li>
                                </ul>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <h5>System requirements</h3>
                            <ul class="list-info">
                                {% if version.version == 10 %}
                                    <li>PHP 7.2 or later</li>
                                    <li>MySQL 5.7+ / MariaDB / Postgres / SQLite support</li>
                                    <li>Modern Browsers</li>
                                {% elseif version.version == 9 %}
                                    <li>PHP 7.2 or later</li>
                                    <li>MySQL 5.5+ / MariaDB / Postgres / SQLite support</li>
                                    <li>Internet Explorer 11 and later</li>
                                {% elseif version.version == 8 %}
                                    <li>PHP 7.0 or later</li>
                                    <li>MySQL 5.5+ / MariaDB / Postgres support</li>
                                    <li>Internet Explorer 11 and later</li>
                                {% endif %}
                            </ul>
                            <h5>Supported Until</h5>
                            <ul class="list-unstyled">
                                <li>Free: <strong>{{ version.maintainedUntil|date("Y-m-d") }}</strong></li>
                                <li>ELTS: <strong>{{ version.eltsUntil|date("Y-m-d") }}</strong></li>
                            </ul>
                            <h5>Current Version</h5>
                            <ul class="list-unstyled">
                                <li>Version: <strong>{{ version.latestRelease.version }}</strong></li>
                                <li>Release Date: <strong>{{ version.latestRelease.date|date("Y-m-d") }}</strong></li>
                            </ul>
                            {% set btnClass = 'default' %}
                            {% if version.version == 10 %}
                                {% set btnClass = 'primary' %}
                            {% endif %}
                            <a href="{{ path('version', {'version': version.version}) }}"
                                class="btn btn-{{ btnClass }}">Get version {{ version.version }}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="frame frame-indent frame-ruler-before frame-background-none frame-no-backgroundimage frame-space-before-none frame-space-after-none">
    <div class="frame-container">
        <div class="frame-inner text-center">
            <h3>Past Versions with Extended Long&nbsp;Term&nbsp;Support</h3>
            <p>With TYPO3 CMS, you made the right choice. Now benefit from a total of 6 years of support per version.</p>
            <p>3 years of free support by the TYPO3 core team and the community.<br>3 further years of vendor support with ELTS by TYPO3 GmbH.</p>
        </div>
    </div>
</div>

<div class="frame frame-default frame-background-none frame-no-backgroundimage frame-space-before-none frame-space-after-none">
    <div class="frame-container">
        <div class="frame-inner">

            <div class="card-group-element card-group-element-align-left card-group-element-columns-{{ eltsVersions|length + 1 }}">

                <div class="card-group-element-item">
                    <img src="{{ asset("assets/Images/elts.svg") }}" class="img-fluid" width="200" style="display: block; margin: 0 auto;" />
                </div>
                {% for version in eltsVersions %}
                <div class="card-group-element-item">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{ version.title }}</h4>
                        </div>
                        <div class="card-footer">
                            <h5>Supported Until</h5>
                            <ul class="list-unstyled">
                                <li>Free: <strong>{{ version.maintainedUntil|date("Y-m-d") }}</strong></li>
                                <li>ELTS: <strong>{{ version.eltsUntil|date("Y-m-d") }}</strong></li>
                            </ul>
                            <h5>Current Version</h5>
                            <ul class="list-unstyled">
                                <li>Version: <strong>{{ version.latestRelease.version }}</strong></li>
                                <li>Release Date: <strong>{{ version.latestRelease.date|date("Y-m-d") }}</strong></li>
                            </ul>
                            <a href="https://typo3.com/elts" class="btn btn-primary">Buy ELTS {{ version.version }}</a> <a href="{{ path('version', {'version': version.version}) }}" class="btn btn-default">See ELTS {{ version.version }}</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

<div class="frame frame-indent frame-background-none frame-no-backgroundimage frame-space-before-none frame-space-after-none">
    <div class="frame-container">
        <div class="frame-inner text-center">
            <p><strong>Extended Long Term Support prolongs security and compliance support for your expired LTS version,
                and keeps you legally compliant and up-to-date. ELTS support runs for a total of 3 years per version,
                starting seamlessly on the day official community support for a given LTS version ends.</strong></p>
        </div>
    </div>
</div>

<div id="try-online" class="frame frame-indent frame-background-light frame-no-backgroundimage frame-space-before-none frame-space-after-none">
    <div class="frame-container">
        <div class="frame-inner text-center">

            <h3>Try it online</h3>
            <p>
                Install a complete Apache / MySQL / PHP environment with a TYPO3 package remotely as a SAAS / cloud
                based infrastructures to get started as quick as possible.
            </p>

        </div>
    </div>
</div>
<div class="frame frame-default frame-background-light frame-no-backgroundimage frame-space-before-none frame-space-after-none">
    <div class="frame-container">
        <div class="frame-inner">

            <div class="card-group-element card-group-element-align-left card-group-element-columns-3">
                <div class="card-group-element-item">
                    <div class="card">
                        <div class="card-img-top">
                            <img src="{{ asset('assets/Images/try/bitnami.png') }}" alt="Bitnami">
                        </div>
                        <div class="card-body">
                            <p>Bitnami TYPO3 Stack provides a one-click install solution for TYPO3. Download installers
                                and virtual machines or run your own TYPO3 server in the cloud.</p>
                        </div>
                        <div class="card-footer">
                            <a href="https://bitnami.com/stack/typo3" class="btn btn-primary">
                                <span class="btn-text">Go to Bitnami</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-group-element-item">
                    <div class="card">
                        <div class="card-img-top">
                            <img src="{{ asset('assets/Images/try/aws.png') }}" alt="AWS">
                        </div>
                        <div class="card-body">
                            <p>Ready-to-use machine images with TYPO3 pre-installed and pre-configured.
                                A &quot;root&quot; login via SSH and an administrator account to the TYPO3 backend allow
                                unrestricted access to the server and CMS. TYPO3 v7, v8, v9 LTS and v10 sprint releases
                                are available.</p>
                        </div>
                        <div class="card-footer">
                            <a href="https://aws.amazon.com/marketplace/seller-profile/?id=3c5e5f3c-d60e-4405-a9ca-aae8abfa3e2b" class="btn btn-primary">
                                <span class="btn-text">Go to AWS Marketplace</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-group-element-item">
                    <div class="card">
                        <div class="card-img-top">
                            <img src="{{ asset('assets/Images/try/platform.png') }}" alt="platform.sh">
                        </div>
                        <div class="card-body">
                            <p>Test and Install TYPO3 CMS V8 on Platform.sh. You can find the Platform
                                file on Github.</p>
                        </div>
                        <div class="card-footer">
                            <a href="https://accounts.platform.sh/platform/trial/typo3/setup" class="btn btn-primary">
                                <span class="btn-text">Go to platform.sh</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
