{% extends 'layout.html.twig' %}
{% block title %}Download TYPO3 {{ currentVersion.current.version }}{{ ((currentVersion.current.elts) ? ' ELTS') }}{% endblock %}
{% block body %}

    {% frame with { color: 'dark', height: 'small', center: true, backgroundImage: asset("assets/Images/keyvisual.png") } %}
        <h1>{{ currentVersion.title }} ({{ currentVersion.current.version }}{{ (currentVersion.current.elts) ? ' ELTS' }})</h1>
        <p class="lead">{{ currentVersion.subtitle }}</p>
    {% endframe %}

    {% frame with { color: 'light', size: 'small' } %}
        <form action="">
            <div class="row">
                <div class="col-sm-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">{{ currentVersion.title }}</span>
                        </div>
                        <select class="form-control custom-select"
                            onchange="if (this.value) window.location.href= '{{ path('root') }}version/' + this.value;">
                            <option>Choose a different version</option>
                            {% for activeVersion in activeVersions %}
                            <option value="{{ activeVersion.version }}">{{ activeVersion.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-auto mt-2 mt-sm-0">
                    <a href="{{ path('list', {'version': currentVersion.version}) }}" class="btn btn-primary">All v{{ currentVersion.version }} Releases</a>
                </div>
            </div>
        </form>
    {% endframe %}

    {% frame with { id: 'get', title: "Get TYPO3 #{ currentVersion.current.version }", titleSize: 1 } %}
    {% endframe %}

    {% if currentVersion.active == false %}
        {% include 'default/partials/version/inactive.html.twig' with currentVersion only %}
    {% endif %}
    {% include 'default/partials/version/release-information.html.twig' with currentVersion only %}
    {% include 'default/partials/version/download.html.twig' with currentVersion only %}
    {% include 'default/partials/version/system-requirements.html.twig' with currentVersion only %}
    {% include 'default/partials/version/package-signatures.html.twig' with currentVersion only %}
    {% include 'default/partials/version/checksums.html.twig' with currentVersion only %}

{% endblock %}
