{% extends 'layout.html.twig' %}
{% block title %}Kickstart your TYPO3 template development{% endblock %}
{% block body %}

    {% frame with { color: 'dark', height: 'small', center: true, title: 'Sitepackage Builder', titleSize: 1, backgroundImage: asset("assets/Images/keyvisual.png") } %}
        <p class="lead">
            Sitepackage-Builder is your kickstarter for modern TYPO3 Theme development. Learn more about TYPO3 templating
            or start your own template right now.
        </p>
        <p>
            <a href="{{ path('wizards_sitepackage_new') }}" class="btn btn-lg btn-primary">
                {{ icon('actions-extension-add', 'auto') }}
                <span class="btn-text">Create Sitepackage</span>
            </a>
        </p>
    {% endframe %}

    {% frame with { id: 'about', color: 'light', title: 'What is a Sitepackage?' } %}
        <p>
            A Sitepackage is a <strong>TYPO3 Extension</strong> that containers all relevant configuration for a Website.
            Having all configuration stored in a package keeps it protected from unauthorized access.
            As Extension your Sitepackage will manage your dependencies to other Extensions and/or the TYPO3 Version.
            This will ease your deployment and enables you to put the configuration of your Webiste under Version Control.
        </p>
        <p>
            Learn more about the <strong>best practices</strong> recommended from the TYPO3 Core Team.
        </p>
        <p>
            <a href="https://docs.typo3.org/m/typo3/tutorial-sitepackage/10.4/en-us/Index.html" class="btn btn-primary" target="_blank">
                {{ icon('actions-notebook', 'auto') }}
                <span class="btn-text">Learn about Sitepackages</span>
            </a>
        </p>
    {% endframe %}

    {% frame with { id: 'arguments', center: true, indent: true, title: 'Pros and Cons', titleSize: 3 } %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="text-center font-weight-normal">Site&shy;package</th>
                        <th class="text-center font-weight-normal">Classic</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left">Config files not accessible by editors </td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-left">Config files are protected <span class="text-muted">*</span></td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-left">Autoload PageTS</td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-left">Autoload TypoScript</td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-left">Static PageTS Template</td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-left">Static TypoScript Template</td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-left">Dependency Management</td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-left">Distribution through TER</td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                    <tr>
                        <td class="text-left">Clean Version Control possible</td>
                        <td class="text-success">Yes</td>
                        <td class="text-danger">No</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>
            <small class="font-italic text-muted">* Possible but not common practice</small>
        </p>
    {% endframe %}

    {% frame with { color: 'light', center: true, id: 'start', title: 'Start your own Sitepackage' } %}
        <p>
            <a href="{{ path('wizards_sitepackage_new') }}" class="btn btn-primary">
                {{ icon('actions-extension-add', 'auto') }}
                <span class="btn-text">Create Sitepackage</span>
            </a>
        </p>
    {% endframe %}

{% endblock %}
