{% if (current.tarPackage.sha256sum or current.tarPackage.md5sum or current.tarPackage.sha1sum) %}
    {% frame with { id: 'package-checksums', title: "Checksums of TYPO3 #{ current.version }" } %}
        {% if current.tarPackage.sha256sum %}
        <h3>SHA256</h3>
        <pre>
{{ current.tarPackage.sha256sum }} typo3_src-{{ current.version }}.tar.gz
{{ current.zipPackage.sha256sum }} typo3_src-{{ current.version }}.zip</pre>
        {% endif %}
        {% if current.tarPackage.sha1sum %}
        <h3>SHA1</h3>
        <pre>
{{ current.tarPackage.sha1sum }} typo3_src-{{ current.version }}.tar.gz
{{ current.zipPackage.sha1sum }} typo3_src-{{ current.version }}.zip</pre>
        {% endif %}
        {% if current.tarPackage.md5sum %}
        <h3>MD5</h3>
        <pre>
{{ current.tarPackage.md5sum }} typo3_src-{{ current.version }}.tar.gz
{{ current.zipPackage.md5sum }} typo3_src-{{ current.version }}.zip</pre>
        {% endif %}
    {% endframe %}
{% endif %}
