{% if elts %}
    {% frame with { id: 'notice-elts', color: 'light', rulerBefore: true, title: 'Stay secure and up-to-date with TYPO3 ELTS!' } %}
        <p>
            The TYPO3 CMS community supported from <strong>{{ releaseDate.format("Y-m-d") }}</strong>
            until <strong>{{ maintainedUntil|date("Y-m-d") }}</strong>.<br>
            <strong>Extend your support now until <u>{{ eltsUntil|date("Y-m-d") }}</u> to
            get access to the latest security and compatibility updates for this version.</strong>
        </p>
        <a href="https://typo3.com/elts" class="btn btn-primary">Learn more about TYPO3 ELTS</a>
        <a href="https://elts.typo3.com" class="btn btn-primary">Browse the TYPO3 ELTS Portal</a>
    {% endframe %}
{% else %}
    {% frame with { id: 'notice-outdated' } %}
        <div class="alert alert-danger">
            <h2 class="h4 alert-heading">This version is not supported anymore.</h2>
            <p class="mb-0">
                The TYPO3 CMS community supported from <strong>{{ releaseDate.format("Y-m-d") }}</strong>
                until <strong>{{ maintainedUntil|date("Y-m-d") }}</strong>. Please consider updating to a newer version.
            </p>
        </div>
    {% endframe %}
{% endif %}
