<div class="frame frame-small frame-default frame-background-light frame-no-backgroundimage frame-space-before-none frame-space-after-none">
    <div class="frame-container">
        <div class="frame-inner">
            <form action="">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Version {{ current.version }}</span>
                    </div>
                    <select class="form-control b_form__select custom-select" onchange="if (this.value) window.location.href= '{{ path('root') }}release-notes/' + this.value;">
                        <option value="">Go to another version</option>
                        {% for version,entry in result %}
                            <optgroup label="{{ version|replace({'.0000': ''}) }}">
                                {% for note in entry.releases|sortByVersion %}
                                    <option value="{{ note.version }}">{{ note.version }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
